**DATAFRAME КАК СТРУКТУРА ДАННЫХ**

In [7]:
import pandas as pd
countries_pd = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})

countries_pd.index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ']

display(countries_pd)

      country  population    square
UK     Англия       56.29    133396
CA     Канада       38.05   9984670
US        США      322.28   9826630
RU     Россия      146.24  17125191
UA    Украина       45.50    603628
BY   Беларусь        9.50    207600
KZ  Казахстан       17.04   2724902

In [8]:
countries_df = pd.DataFrame(
    data = [
        ['Англия', 56.29, 133396],
        ['Канада', 38.05, 9984670],
        ['США', 322.28, 9826630],
        ['Россия', 146.24, 17125191],
        ['Украина', 45.5, 603628],
        ['Беларусь', 9.5, 207600],
        ['Казахстан', 17.04, 2724902]
    ],
    columns= ['country', 'population', 'square'],
    index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ']
)
display(countries_df)

      country  population    square
UK     Англия       56.29    133396
CA     Канада       38.05   9984670
US        США      322.28   9826630
RU     Россия      146.24  17125191
UA    Украина       45.50    603628
BY   Беларусь        9.50    207600
KZ  Казахстан       17.04   2724902

**AXIS**

In [10]:
countries_df.mean(axis = 0)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_164624\1459871192.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  countries_df.mean(axis = 0)

population    9.070000e+01
square        5.800860e+06
dtype: float64

In [11]:
countries_df.mean(axis=1)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_164624\555943002.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  countries_df.mean(axis=1)

UK      66726.145
CA    4992354.025
US    4913476.140
RU    8562668.620
UA     301836.750
BY     103804.750
KZ    1362459.520
dtype: float64

ДОСТУП К ДАННЫМ В DATAFRAME

In [12]:
countries_df.population

UK     56.29
CA     38.05
US    322.28
RU    146.24
UA     45.50
BY      9.50
KZ     17.04
Name: population, dtype: float64

In [13]:
countries_df['country']

UK       Англия
CA       Канада
US          США
RU       Россия
UA      Украина
BY     Беларусь
KZ    Казахстан
Name: country, dtype: object

In [14]:
countries_df.loc['UK','square']

133396

In [15]:
countries_df.loc['RU',['square', 'population']]

square        17125191
population      146.24
Name: RU, dtype: object

In [16]:
countries_df.loc[['RU', 'KZ', 'BY'],['square','population']]

      square  population
RU  17125191      146.24
KZ   2724902       17.04
BY    207600        9.50

In [19]:
countries_df.iloc[4:8,1:3]

    population   square
UA       45.50   603628
BY        9.50   207600
KZ       17.04  2724902

In [33]:
import pandas as pd
def create_companyDF(income, expenses, years):
    df = pd.DataFrame({
        'incomes':income,
        'expenses':expenses
        },
        index = years
    )
    return df

def get_profit(df, year):
    if year in df.index:
        value = df.loc[year,'income'] - df.loc[year,'expenses']
    else:
        return None
    return value

income = [478, 512, 196]
expenses = [156, 130, 270]
years = [2018, 2019, 2020]



print(create_companyDF(income, expenses, years))
print(get_profit(df, 2018))

      incomes  expenses
2018      478       156
2019      512       130
2020      196       270

NameError: name 'df' is not defined