переместили масив данных в папку с данными

In [30]:
#countries_data = pd.read_csv('https://lms.skillfactory.ru/assets/courseware/v1/a37d26d144a33e5bc8a1ac9aa5679cf8/asset-v1:SkillFactory+DST-3.0+28FEB2021+type@asset+block/melb_data.zip')
#countries_data.to_csv('data/melb_data.csv'

Функции:
pd.read_csv
value_counts()
.tail
.head
.info
.describe().loc[]
.describe(include=[Dtype])
.value_counts()

- index — номер строки
- Suburb — наименование пригорода
- Address — адрес
- Rooms — количество комнат в помещении
- Type — тип здания (h — дом, коттедж, вилла, терраса; u — блочный, дуплексный дом; t — таунхаус)
- Price — цена помещения
- Method — метод продажи 
- SellerG — риэлторская компания
- Date — дата продажи (в формате день/месяц/год)
- Distance — расстояния до объекта от центра Мельбурна 
- Postcode — почтовый индекс
- Bedroom — количество спален
- Bathroom — количество ванных комнат
- Car — количество парковочных мест
- Landsize — площадь прилегающей территории
- BuildingArea — площадь здания
- YearBuilt — год постройки
- CouncilArea — региональное управление
- Lattitude — географическая широта
- Longitude — географическая долгота
- Regionname — наименование района Мельбурна
- Propertycount — количество объектов недвижимости в районе, выставленных на продажу
- Coordinates — широта и долгота, объединённые в кортеж

In [31]:
import pandas as pd
melb_data = pd.read_csv('data/melb_data.csv', sep=',')

In [32]:
melb_data.loc[3521,'Landsize'] / melb_data.loc[1690,'Landsize']

2.7857142857142856

**ВЫВОД ПЕРВЫХ И ПОСЛЕДНИХ СТРОК**
Для этого у DataFrame есть методы **head()** и **tail()**, которые возвращают n первых и n последних строк таблицы соответственно (по умолчанию n = 5).

In [33]:
display(melb_data.tail(5))

,Unnamed: 0,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
13575,13575,13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,...,2.0,652.0,126.0,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0,"-37.90562, 145.16761"
13576,13576,13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,...,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0,"-37.85927, 144.87904"
13577,13577,13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,...,4.0,436.0,126.0,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0,"-37.85274, 144.88738"
13578,13578,13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,...,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0,"-37.85908, 144.89299"
13579,13579,13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,...,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0,"-37.81188, 144.88449"

In [34]:
melb_data.shape

(13580, 24)

информация о столбцах

In [35]:
melb_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 24 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     13580 non-null  int64
 1   index          13580 non-null  int64
 2   Suburb         13580 non-null  object
 3   Address        13580 non-null  object
 4   Rooms          13580 non-null  int64
 5   Type           13580 non-null  object
 6   Price          13580 non-null  float64
 7   Method         13580 non-null  object
 8   SellerG        13580 non-null  object
 9   Date           13580 non-null  object
 10  Distance       13580 non-null  float64
 11  Postcode       13580 non-null  int64
 12  Bedroom        13580 non-null  float64
 13  Bathroom       13580 non-null  float64
 14  Car            13580 non-null  float64
 15  Landsize       13580 non-null  float64
 16  BuildingArea   13580 non-null  float64
 17  YearBuilt      13580 non-null  float64
 18  CouncilArea    12211 non-null  object
 19  Lattitude      13580 non-null  float64
 20  Longtitude     13580 non-null  float64
 21  Regionname     13580 non-null  object
 22  Propertycount  13580 non-null  float64
 23  Coordinates    13580 non-null  object
dtypes: float64(11), int64(4), object(9)
memory usage: 2.5+ MB

In [36]:
melb_data['Car'] = melb_data['Car'].astype('int64')
melb_data['Bedroom'] = melb_data['Bedroom'].astype('int64')
melb_data['Bathroom'] = melb_data['Bathroom'].astype('int64')
melb_data['Propertycount'] = melb_data['Propertycount'].astype('int64')
melb_data['YearBuilt'] = melb_data['YearBuilt'].astype('int64')
melb_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 24 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     13580 non-null  int64
 1   index          13580 non-null  int64
 2   Suburb         13580 non-null  object
 3   Address        13580 non-null  object
 4   Rooms          13580 non-null  int64
 5   Type           13580 non-null  object
 6   Price          13580 non-null  float64
 7   Method         13580 non-null  object
 8   SellerG        13580 non-null  object
 9   Date           13580 non-null  object
 10  Distance       13580 non-null  float64
 11  Postcode       13580 non-null  int64
 12  Bedroom        13580 non-null  int64
 13  Bathroom       13580 non-null  int64
 14  Car            13580 non-null  int64
 15  Landsize       13580 non-null  float64
 16  BuildingArea   13580 non-null  float64
 17  YearBuilt      13580 non-null  int64
 18  CouncilArea    12211 non-null  object
 19  Lattitude      13580 non-null  float64
 20  Longtitude     13580 non-null  float64
 21  Regionname     13580 non-null  object
 22  Propertycount  13580 non-null  int64
 23  Coordinates    13580 non-null  object
dtypes: float64(6), int64(9), object(9)
memory usage: 2.5+ MB

**ПОЛУЧЕНИЕ ОПИСАТЕЛЬНОЙ СТАТИСТИКИ**

→ Часто при работе с таблицей нужно быстро посмотреть на основные статистические свойства её столбцов. Для этого можно воспользоваться методом DataFrame describe().

In [37]:
melb_data.describe().loc[:, ['Distance', 'BuildingArea' , 'Price']]

           Distance  BuildingArea         Price
count  13580.000000  13580.000000  1.358000e+04
mean      10.137776    139.633972  1.075684e+06
std        5.868725    392.217403  6.393107e+05
min        0.000000      0.000000  8.500000e+04
25%        6.100000    122.000000  6.500000e+05
50%        9.200000    126.000000  9.030000e+05
75%       13.000000    129.940000  1.330000e+06
max       48.100000  44515.000000  9.000000e+06

### **ПОЛУЧЕНИЕ ОПИСАТЕЛЬНОЙ СТАТИСТИКИ**

→ На самом деле метод describe() можно применять не только к числовым признакам. С помощью параметра include можно указать тип данных, для которого нужно вывести описательную информацию.

Например, для типа данных object метод describe() возвращает DataFrame, в котором указаны:


- количество непустых строк (count);

- количество уникальных значений (unique);

- самое частое значение — мода —  (top);

- частота — объём использования — этого значения (freq) для каждого столбца типа object исходной таблицы.

In [38]:
melb_data.describe(include=['float64'])

,Price,Distance,Landsize,BuildingArea,Lattitude,Longtitude
count,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13580.000000
mean,1.075684e+06,10.137776,558.416127,139.633972,-37.809203,144.995216
std,6.393107e+05,5.868725,3990.669241,392.217403,0.079260,0.103916
min,8.500000e+04,0.000000,0.000000,0.000000,-38.182550,144.431810
25%,6.500000e+05,6.100000,177.000000,122.000000,-37.856822,144.929600
50%,9.030000e+05,9.200000,440.000000,126.000000,-37.802355,145.000100
75%,1.330000e+06,13.000000,651.000000,129.940000,-37.756400,145.058305
max,9.000000e+06,48.100000,433014.000000,44515.000000,-37.408530,145.526350

**ПОЛУЧЕНИЕ ЧАСТОТЫ УНИКАЛЬНЫХ ЗНАЧЕНИЙ В СТОЛБЦЕ**

Pассмотрим работу value_counts() на примере столбца с названиями районов:

In [49]:

melb_data['Type'].value_counts(normalize=True)

h    0.695803
u    0.222165
t    0.082032
Name: Type, dtype: float64

In [50]:
a = 13580-12211
a

1369