In [2]:
import numpy as np
import pandas as pd
#student_data = pd.read_csv("https://lms.skillfactory.ru/assets/courseware/v1/8a7b3b3f18edf7a3772760221c97139b/asset-v1:SkillFactory+DST-3.0+28FEB2021+type@asset+block/students_performance.zip")
#student_data.to_csv('data/student_data.csv')

student_data = pd.read_csv('data/student_data.csv', sep=',')
student_data.head()

,Unnamed: 0,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,0,female,group B,bachelor's degree,standard,none,72,72,74
1,1,female,group C,some college,standard,completed,69,90,88
2,2,female,group B,master's degree,standard,none,90,95,93
3,3,male,group A,associate's degree,free/reduced,none,47,57,44
4,4,male,group C,some college,standard,none,76,78,75


- gender — пол;

- race/ethnicity — раса/этническая принадлежность;

- parental level of education — уровень образования родителей;

- lunch — какие обеды получал студент во время обучения (standard — платный, free/reduced — бесплатный);

- test preparation course — посещал ли студент курсы подготовки к экзаменам (none — не посещал, completed — посещал);

- math score, reading score, writing score — баллы по математике, чтению и письму по сто балльной шкале.

In [3]:
student_data.value_counts()

Unnamed: 0  gender  race/ethnicity  parental level of education  lunch         test preparation course  math score  reading score  writing score
0           female  group B         bachelor's degree            standard      none                     72          72             74               1
671         male    group D         associate's degree           free/reduced  none                     52          57             50               1
658         female  group D         associate's degree           free/reduced  none                     43          60             58               1
659         male    group D         associate's degree           standard      none                     90          87             85               1
660         male    group C         some college                 free/reduced  none                     74          77             73               1
                                                                                                                                                   ..
338         female  group B         some high school             free/reduced  none                     24          38             27               1
339         female  group D         some high school             free/reduced  completed                35          55             60               1
340         male    group C         high school                  free/reduced  none                     58          61             52               1
341         female  group C         high school                  standard      none                     61          73             63               1
999         female  group D         some college                 free/reduced  none                     77          86             86               1
Length: 1000, dtype: int64

In [4]:
student_data.shape()

TypeError: 'tuple' object is not callable

In [ ]:
student_data.loc[155,'writing score']

88

In [ ]:
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   1000 non-null   int64
 1   gender                       1000 non-null   object
 2   race/ethnicity               1000 non-null   object
 3   parental level of education  1000 non-null   object
 4   lunch                        1000 non-null   object
 5   test preparation course      1000 non-null   object
 6   math score                   1000 non-null   int64
 7   reading score                1000 non-null   int64
 8   writing score                1000 non-null   int64
dtypes: int64(4), object(5)
memory usage: 70.4+ KB

In [ ]:
student_data['math score'].mean()

66.089

In [ ]:
student_data['race/ethnicity'].mode()

0    group C
Name: race/ethnicity, dtype: object

In [ ]:
student_data[student_data['test preparation course'] != 'none']['reading score'].mean()

73.89385474860335

In [ ]:
student_data[student_data['math score'] == 0].shape[0]

1

In [ ]:
print(student_data[student_data['lunch'] == 'standard']['math score'].mean())
print(student_data[student_data['lunch'] == 'free/reduced']['math score'].mean())

70.03410852713178
58.92112676056338

In [9]:
round(student_data['parental level of education'].value_counts(normalize=True)["bachelor's degree"] * 100)

12

In [21]:
mean_reading_a = student_data[student_data['race/ethnicity'] == 'group A']['writing score'].median()
mean_reading_c = student_data[student_data['race/ethnicity'] == 'group C']['writing score'].mean()
print(round(abs(mean_reading_c - mean_reading_a)))

6