- **apply()**
- **.nlargest()**
- **nunique()**

Теперь применим эту функцию к столбцу c адресом. Для этого передадим функцию get_street_type в аргумент метода столбца **apply()**. В результате получим объект Series, который положим в переменную street_types:

In [1]:
import pandas as pd
melb_data = pd.read_csv('data/melb_data.csv',sep=',')
melb_df = melb_data.copy()

In [2]:
print(melb_df['Address'].nunique())
def get_street_type(address):
    exclude_list = ['N', 'S', 'W', 'E']
    address_split = address.split(' ')
    street_type = address_split[-1]
    if street_type in exclude_list:
        street_type = address_split[-2]
    return street_type
#def get_street_type(address):
#    exclude_list = ['N', 'S', 'W', 'E']
#    address_list = address.split(' ')
#    street_type = address_list[-1]
#    if street_type in exclude_list:
#        street_type = address_list[-2]
#    return street_type
stret_types = melb_df['Address'].apply(get_street_type)
stret_types.value_counts()

13378

St           8012
Rd           2825
Ct            612
Dr            447
Av            321
Gr            311
Pde           211
Pl            169
Cr            152
Cl            100
La             67
Bvd            53
Tce            47
Wy             40
Avenue         40
Cct            25
Hwy            24
Parade         15
Boulevard      13
Sq             11
Crescent        9
Cir             7
Strand          7
Esplanade       6
Grove           5
Gdns            4
Grn             4
Fairway         4
Mews            4
Crossway        3
Righi           3
Victoria        2
Ridge           2
Crofts          2
Esp             2
Glade           1
Gra             1
Ave             1
Woodland        1
Outlook         1
Hts             1
Highway         1
Athol           1
Summit          1
Grand           1
Res             1
Nook            1
Eyrie           1
Dell            1
East            1
Loop            1
Grange          1
Terrace         1
Cove            1
Qy              1
Corso           1
Name: Address, dtype: int64

**.nlargest()**

Для этого к результату метода value_counts применим метод nlargest(), который возвращает n наибольших значений из Series. Зададим n=10, т. е. мы хотим отобрать десять наиболее популярных подтипов. Извлечём их названия с помощью атрибута index, а результат занесём в переменную popular_stypes:

In [3]:
poplar_types = stret_types.value_counts().nlargest(10).index
poplar_types

Index(['St', 'Rd', 'Ct', 'Dr', 'Av', 'Gr', 'Pde', 'Pl', 'Cr', 'Cl'], dtype='object')

In [4]:
melb_df['StreetType'] = stret_types.apply(lambda x: x if x in poplar_types else 'other')
print(melb_df['StreetType'])
print(melb_df['StreetType'].nunique())

0           St
1           St
2           St
3        other
4           St
         ...
13575       Cr
13576       Dr
13577       St
13578       St
13579       St
Name: StreetType, Length: 13580, dtype: object
11

In [ ]:
WeekdaySale = melb_df['WeekdaySale'] = melb_df['Date'].dt.dayofweek
WeekdaySale
def weekends(dayofweek):
    weekends_number = [5 , 6]
    if dayofweek in weekends_number:
        result = 1
    else:
        result = 0
    return result
melb_df['Weekend'] = WeekdaySale.apply(weekends)
melb_df['Weekend']
melb_df[melb_df['Weekend'] == 1]['Price'].mean()

**.nlargest**

Преобразуйте столбец SellerG с наименованиями риелторских компаний в таблице melb_df следующим образом: оставьте в столбце только 49 самых популярных компаний, а остальные обозначьте как 'other'.
Найдите, во сколько раз минимальная цена объектов недвижимости, проданных компанией 'Nelson', больше минимальной цены объектов, проданных компаниями, обозначенными как 'other'. Ответ округлите до десятых.

In [16]:
poplur_sellerg = melb_df['SellerG'].value_counts().nlargest(49).index
# создал список из 49 самых популярных компаний
melb_df['SellerG'] = melb_df['SellerG'].apply(lambda x: x if x in poplur_sellerg else 'other')
# применил ламду функцию для перебора всех реелторских компаний если они в не списке то получают новое значение "другие" 
Min_Price_Nelson = melb_df[melb_df['SellerG'] == 'Nelson']['Price'].min() 
# c самого начала вначале применяем маску на компании нелсон после изи оставшихся сделок выводим минимальную цену
Min_Price_Other = melb_df[melb_df['SellerG'] == 'other']['Price'].min()
# применяем маску для списка других риелторских компаний ,выводим минимальную цену совершонных сделок
print(round(Min_Price_Nelson / Min_Price_Other,1))
# делим минимальную цуну нелсона на минимальную цену всех других компаний и округляем до 10х

1.3

In [31]:
df = pd.Series(['Опыт работы 8 лет 3 месяца', 'опыт работы 3 года 5 месецев', 'опыт работы 1 год 9 месецев', 'опыт работы 3 месеца', 'опыт работы 6 лет'])
def get_experience(arg):
    month_list = ['месеца', 'месецев', 'месец']
    years_list = ['год','года','лет']
    arg_list = arg.split(' ')
    len_list = len(arg_list)
    count = 0
    if len_list == 6:
        count = int(arg_list[-2]) + (int(arg_list[-4]) * 12)
        return count
    else:
        if arg_list[-1] in years_list:
            count = int(arg_list[-2]) * 12
            return count
        else:
            count = int(arg_list[-2])
            return count

def get_experience1(arg):
    month_key_words = ['месяц', 'месяцев', 'месяца']
    year_key_words = ['год', 'лет', 'года']
    args_splited = arg.split(' ')
    month = 0
    year = 0
    for i in range(len(args_splited)):
        if args_splited[i] in month_key_words:
            month = args_splited[i-1]
        if args_splited[i] in year_key_words:
            year = args_splited[i-1]
    return int(year)*12 + int(month)
df.apply(get_experience1)

0    99
1    36
2    12
3     0
4    72
dtype: int64

In [32]:
a = 'Опыт работы 8 лет 3 месяца'
b = a.split(' ')
count = int(b[-2]) + (int(b[-4]) * 12)
count

99