
- starttime — время начала поездки (дата, время);

- stoptime — время окончания поездки (дата, время);

- start station id — идентификатор стартовой стоянки;

- start station name — название стартовой стоянки;

- start station latitude, start station longitude — географическая широта и долгота стартовой стоянки;

- end station id — идентификатор конечной стоянки;

- end station name — название конечной стоянки;

- end station latitude, end station longitude — географическая широта и долгота конечной стоянки;

- bikeid — идентификатор велосипеда;

- usertype — тип пользователя (Customer — клиент с подпиской на 24 часа или на три дня, Subscriber — подписчик с годовой арендой велосипеда);

- birth year — год рождения клиента;

- gender — пол клиента (0 — неизвестный, 1 — мужчина, 2 — женщина).

In [81]:
import pandas as pd
citibike_tripdata = pd.read_csv('data/citibike-tripdata.csv')
citibike_tripdata.head()

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1

In [82]:
citibike_tripdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

Какой тип клиентов (столбец usertype) является преобладающим — Subscriber или Customer? В качестве ответа запишите долю клиентов преобладающего типа среди общего количества клиентов. Ответ округлите до сотых.

In [83]:
citibike_tripdata['usertype'].value_counts(normalize=True)[0]

0.7740066666666666

Кто больше занимается велоспортом — мужчины или женщины? В ответ запишите число поездок для той группы, у которой их больше.

In [84]:
citibike_tripdata['gender'].value_counts().max()

183582

In [85]:
citibike_tripdata['start station id'].nunique() != citibike_tripdata['end station id'].nunique()

True

In [86]:
citibike_tripdata['stoptime'] = pd.to_datetime(citibike_tripdata['stoptime'],dayfirst=False)
citibike_tripdata['starttime'] = pd.to_datetime(citibike_tripdata['starttime'],dayfirst=False)
citibike_tripdata['age'] = citibike_tripdata['starttime'].dt.year - citibike_tripdata['birth year']
citibike_tripdata['age'].min()

16

In [87]:
citibike_tripdata['start station name'].value_counts().index[-1]

'Eastern Pkwy & Washington Ave'

In [88]:
citibike_tripdata['end station name'].value_counts().index[0]

'West St & Chambers St'

In [89]:
citibike_tripdata[citibike_tripdata['age'] > 60].shape[0]

11837

Создайте признак длительности поездки trip duration. Для этого вычислите интервал времени между временем окончания поездки (stoptime) и её началом (starttime). Сколько целых минут длилась поездка под индексом 3 в таблице?

In [97]:
citibike_tripdata['trip duration'] = citibike_tripdata['stoptime'] - citibike_tripdata['starttime']
citibike_tripdata['trip duration']


citibike_tripdata['weekend'] = citibike_tripdata['starttime'].dt.dayofweek
citibike_tripdata['weekend'] = citibike_tripdata['weekend'].apply(lambda x: 1 if x in [5, 6] else 0)
citibike_tripdata['weekend'].value_counts()[1]

115135

In [101]:
def time_day(x):
    if x in [0, 1, 2, 3, 4, 5, 6]:
        return 'night'
    elif x in [7, 8, 9, 10, 11, 12]:
        return 'morning'
    elif x in [13, 14, 15, 16, 17, 18]:
        return 'day'
    elif x in [19, 20, 21, 22, 23, 24]:
        return 'evening'
        
citibike_tripdata['time_of_day'] = citibike_tripdata['starttime'].dt.hour.apply(time_day)
citibike_tripdata['time_of_day'].value_counts()['day'] / citibike_tripdata['time_of_day'].value_counts()['night']

9.480411004308916