
**ratings1** и **ratings2** — таблицы с данными о выставленных пользователями оценках фильмов. Они имеют одинаковую структуру и типы данных — на самом деле это две части одной таблицы с оценками фильмов.
- userId — уникальный идентификатор пользователя, который выставил оценку;
- movieId — уникальный идентификатор фильма;
- rating — рейтинг фильма.

**dates** — таблица с датами выставления всех оценок.
- date — дата и время выставления оценки фильму.

**movies** — таблица с информацией о фильмах.
- movieId — уникальный идентификатор фильма;
- title — название фильма и год его выхода;
- genres — жанры фильма.

In [3]:
import pandas as pd 
dates = pd.read_csv('data/dates.csv')
ratings1 = pd.read_csv('data/ratings1.csv')
ratings2 = pd.read_csv('data/ratings2.csv')
movies = pd.read_csv('data/movies.csv')

### Объединение DataFrame: concat

Основные параметры функции concat()


- objs — список объектов DataFrame ([df1, df2,…]), которые должны быть сконкатенированы;

- axis — ось определяет направление конкатенации: 0 — конкатенация по строкам (по умолчанию), 1 — конкатенация по столбцам;

- join — либо inner (пересечение), либо outer (объединение); рассмотрим этот момент немного позже;

- ignore_index — по умолчанию установлено значение False, которое позволяет значениям индекса оставаться такими, какими они были в исходных данных. Если установлено значение 
- True, параметр будет игнорировать исходные значения и повторно назначать значения индекса в последовательном порядке.

In [4]:
ratings =pd.concat(
    [ratings1,ratings2],
    ignore_index=True
)
ratings

        userId  movieId  rating
0            1        1     4.0
1            1        3     4.0
2            1        6     4.0
3            1       47     5.0
4            1       50     5.0
...        ...      ...     ...
100832     610   166534     4.0
100833     610   168248     5.0
100834     610   168250     5.0
100835     610   168252     5.0
100836     610   170875     3.0

[100837 rows x 3 columns]

In [7]:
ratings1['userId'].nunique()

274

In [10]:
dates

                       date
0       2000-07-30 18:45:03
1       2000-07-30 18:20:47
2       2000-07-30 18:37:04
3       2000-07-30 19:03:35
4       2000-07-30 18:48:51
...                     ...
100831  2017-05-03 21:53:22
100832  2017-05-03 22:21:31
100833  2017-05-08 19:50:47
100834  2017-05-03 21:19:12
100835  2017-05-03 21:20:15

[100836 rows x 1 columns]

In [18]:
dates['date'] = pd.to_datetime(dates['date'])
dates['date'].dt.year.value_counts().index[0]

2000